<template>
  <transition name="fade">
    <div v-if="ready" class="dashboard-layout">
      <geo></geo>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      ready: false
    }
  },
  watch: {},
  components: {
  },
  computed: {},
  methods: {},
  mounted() {
    // toolbar section name display
    this.$store.commit('section', this.$i18n.$t('Dashboard'))
    this.ready = true
  },
  beforeDestroy() {

  }
}
</script>

<style>
.dashboard-layout {
  width: 100%;
  height: 100%;
}
</style>
