<template>
  <v-app class="app" :dark="this.$store.state.darkTheme">

    <!-- Search box -->
    <div v-if="logged && showSearch" class="app-search">
      <div @click="searchExtended = !searchExtended"
        class="app-search-handle elevation-2 no-text-selection">
        <v-icon>search</v-icon></div>
      <v-text-field v-if="searchExtended" solo clearable single-line
        :label="$t('Search')" @change="handleSearchPattern">
      </v-text-field>
    </div>

    <v-toolbar class="app-toolbar"
      :flat="$store.state.flatToolbar" dense
      :color="$store.state.toolbarColor">

      <!-- App tool bar icon: overwrite app-logo background to change -->
      <v-toolbar-side-icon v-if="logged"
        @click.stop="toggleLeftSidenav">
        <div class="app-logo"></div>
      </v-toolbar-side-icon>

      <!-- Secondary logo like company one for example -->
      <div v-if="logged" class="app-logo-secondary"></div>

      <!-- Show where we are - app section -->
      <div class="app-section"
        v-if="logged && $store.state.showSection && $store.state.section">
        {{ $store.state.section }}</div>

      <v-spacer></v-spacer>

      <div v-if="!logged" style="width: 100%" class="ig-centered">
        <div class="app-logo" :class="{ 'connected': $store.state.connected }"></div>
      </div>

      <div v-if="logged" class="app-context-buttons">
        <v-btn flat icon v-for="b in contextButtons" :key="b.name"
          @click="b.on = !b.on; b.handleClick(b)">
          <v-icon v-if="b.on">{{ b.iconOn }}</v-icon>
          <v-icon v-if="!b.on">{{ b.iconOff }}</v-icon>
        </v-btn>
      </div>

      <div v-if="logged && user" class="ig-clickable app-avatar-small"
        @click="showNotifications = !showNotifications">
        <v-badge overlap color="pink">
          <span slot="badge" v-if="userNotifications.length > 0">
            {{ userNotifications ? userNotifications.length : 0 }}</span>

          <v-avatar :size="32">
            <img :src="user.avatar ? $utils.imgUrl(user.avatar) : 'assets/user.png'" alt=""/>
          </v-avatar>
       </v-badge>
      </div>

      <v-icon v-show="!$store.state.connected && logged"
        color="red">cloud_off</v-icon>
    </v-toolbar>

    <v-navigation-drawer temporary app
      ref="leftSideNav" v-model="leftSidenav">
      <v-toolbar class="app-sidebar-header" flat>
        <v-list dense class="app-userinfo" v-if="logged">
          <v-list-tile avatar
            @click="navTo('/profile')">

            <v-list-tile-avatar>
              <img :src="user.avatar ? $utils.imgUrl(user.avatar) : 'assets/user.png'" alt=""/>
            </v-list-tile-avatar>

            <v-list-tile-content>
              <v-list-tile-title>
                {{ $t(user.firstname + ' ' + user.lastname) }}</v-list-tile-title>

              <v-list-tile-sub-title v-if="user.contactInfo" class="app-user-contact">
                {{ user.contactInfo.email }}</v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-list dense>
        <template v-for="(item, index) in menuItems">
          <div style="display: none" :key="index">{{ index }}</div> <!-- lint -->
          <v-subheader v-if="item && item.header" :key="item.header">{{ $t(item.header) }}</v-subheader>
          <v-divider v-if="item.divider" :inset="item.inset" :key="item.inset"></v-divider>

          <v-list-tile :key="item.title"
            v-if="item.title && !item.hideIfLogged && (item.anonymousAccess || !!logged)"
            @click="item.handler ? handleMenuItem(item.handler) :
              navTo(item.path)">
              <v-list-tile-action class="app-menu-item-icon">
                <v-icon v-if="!item.svgIcon">{{ item.icon }}</v-icon>
                <img v-if="item.svgIcon" class="ig-menu-icon" :src="item.svgIcon" alt=""/>
              </v-list-tile-action>

              <v-list-tile-content>
                <v-list-tile-title
                  :class="{ 'app-menu-item-selected':
                    $store.state.route.path === item.path }">
                  {{ $t(item.title) }}</v-list-tile-title>
              </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>

      <v-list dense>
        <v-divider></v-divider>
        <v-subheader>{{ $t('Version') }}</v-subheader>

        <v-list-tile v-if="packageInfo" @click="navTo('/admin')">
          <v-list-tile-action>
            <img style="width: 24px; height: 24px;"
              src="assets/ignitialio-32.png" alt=""/>
          </v-list-tile-action>
          <v-list-tile-content>
            {{ packageInfo.name }} v{{ packageInfo.version }}
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-content class="app-view">
      <transition name="fade">
        <router-view class="app-router"></router-view>
      </transition>

      <v-snackbar v-model="notificationSnack"
        :timeout="5000">
      {{ notification }}
      </v-snackbar>

      <!-- Confirm dialog -->
      <v-dialog v-model="confirmDialog" max-width="500px"
        @close="handleConfirmClose">
        <v-card>
          <v-card-title>
            <div v-if="confirmationPrompt !== null">
              {{ confirmationPrompt }}
            </div>
          </v-card-title>

          <v-card-text>
          </v-card-text>

          <v-card-actions>
            <v-btn color="primary" flat
              @click="handleConfirm('ok')">
              {{ $t('Apply') }}
            </v-btn>

            <v-btn color="error" flat
              @click="handleConfirm('cancel')">
              {{ $t('Cancel') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-bottom-sheet v-model="showNotifications">
        <v-list>
          <v-subheader>{{ $t('Notifications') }}</v-subheader>
          <v-list-tile
            v-for="notification in userNotifications" :key="notification._id"
            @click="ackNotification(notification)">

            <v-list-tile-avatar>
              <img :src="notification.image" alt=""/>
            </v-list-tile-avatar>

            <v-list-tile-title>
              <span>{{ notification.message }}</span>
              <span class="app-notification-date">
                {{ $utils.fromNow(notification._lastModified) }}</span>
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-bottom-sheet>
    </v-content>
  </v-app>
</template>

<script>
import * as d3 from 'd3'
import colors from 'vuetify/es5/util/colors'

export default {
  data: () => {
    return {
      notification: '',
      contextButtons: [],
      userNotifications: [],
      lastNotification: null,
      showNotifications: false,
      showSearch: false,
      searchExtended: true,
      filter: '',
      packageInfo: {},
      leftSidenav: false,
      notificationSnack: false,
      confirmDialog: false,
      confirmationPrompt: null,
      menuItems: []
    }
  },
  methods: {
    handleSearchPattern(pattern) {
      this.$services.$emit('app:search:pattern', pattern)
    },
    handleConfirmClose() {
      this.$services.$emit('app:confirmation:response', 'cancel')
    },
    handleConfirm(what) {
      if (this.confirmDialog) {
        this.confirmDialog = false

        this.$services.$emit('app:confirmation:response', what)
      }
    },
    handleMenuItem(handler) {
      this[handler]()
    },
    /*
      Shows Snack (app) notification (used from any where with this.$root)
    */
    showAppNotification(msg) {
      this.notification = msg
      this.notificationSnack = true
    },
    /*
      Updates user (!= app notification) notifications
    */
    _myNotifications() {
      this.$syncdb.notifications.obtainMine().then(docs => {
        this.userNotifications = []
        for (let notification of docs) {
          if (notification.status === 'noack') {
            this.userNotifications.push(notification)
          }
        }
        // console.log('user notifications', this.userNotifications.length)
        this.$forceUpdate()

        this.lastNotification =
          this.userNotifications[this.userNotifications.length - 1]
      }).catch(err => console.log(err))
    },
    ackNotification(notification) {
      if (notification.status === 'noack') {
        notification.status = 'ack'
        this.$services.waitForService('data', 'notifications').then(notifications => {
          notifications.put(notification).then().catch(err => console.log(err))
          this.$services.$emit('app:user:notification:update')
        }).catch(err => console.log(err))
      }
    },
    navTo(route) {
      this.toggleLeftSidenav()
      this.$router.push(route)
    },
    toggleLeftSidenav() {
      this.leftSidenav = !this.leftSidenav
    },
    toggleRightSidenav() {
      this.$services.$emit('app:ui:toggleSidenav')
    },
    logout() {
      // BUG: needs removal here since wierd behaviour
      d3.select('.app-context-buttons').selectAll('*').remove()
      //
      if (!this.$store.state.user) {
        console.log('already logged out')
        return
      }

      this.$auth.signout().then(() => {
        this.leftSidenav = false
        this.$router.push('/login')
        this.$services.$emit('app:loggedout')
      }).catch(err => {
        console.log('sign out error', err)
      })
    },
    handleFilterUpdate(e) {
      this.$services.$emit('app:filter', e)
    },
    onLogin() {
      // load user notifications
      this._myNotifications()
    }
  },
  mounted() {
    // load this.$config and menu items
    this.menuItems = this.$config.appMenu

    // theming
    if (this.$config.theming) {
      this.$store.commit('flatToolbar', this.$config.theming.flatToolbar)
      this.$store.commit('toolbarColor', this.$config.theming.toolbarColor)
      this.$store.commit('darkTheme', this.$config.theming.darkTheme)

      // update primary color
      if (this.$config.theming.darkTheme) {
        this.$vuetify.theme.primary = colors.amber.darken2
        this.$store.commit('toolbarColor', 'transparent')
      } else {
        this.$vuetify.theme.primary = colors.blue.darken2
      }
    }

    let idleTime = 0

    // set timer for inactivity logout
    let idleInterval = setInterval(() => {
      idleTime++
      let timeout = this.$config.logout ? this.$config.logout.timeout : 15
      if (idleTime > timeout) {
        if (this.$store.state.user) this.logout()
        clearInterval(idleInterval)
      }
    }, 60000)

    // reset on mouse movement or key pressed
    document.addEventListener('mousemove', () => {
      idleTime = 0
    })

    document.addEventListener('keypress', () => {
      idleTime = 0
    })

    if (this.$store.state.user) {
      this.onLogin()
    }

    // manage contextual help
    this.$services.$on('app:help:contextual', info => {
      this.contextualHelp = info

      setTimeout(() => {
        this.contextualHelp = null
        this.$refs.helpSnack.close()
      }, 20000)
    })

    // manage external services menu items add and removal
    this.$services.$on('app:sidemenu:item:add', item => {
      for (let i = 0; i < this.servicesMenu.length; i++) {
        if (this.servicesMenu[i].title === item.title) {
          return
        }
      }
      this.servicesMenu.push(item)
    })

    this.$services.$on('app:sidemenu:item:remove', item => {
      for (let i = 0; i < this.servicesMenu.length; i++) {
        if (this.servicesMenu.title === item.title) {
          this.servicesMenu.splice(i, 1)
          console.log('sidemenu item removed')
          break
        }
      }
    })

    // manage app notifications
    this.$services.$on('app:notification', data => {
      this.notification = data
      this.notificationSnack = true
    })

    // manage contextual buttons
    this.$services.$on('app:context:buttons:add', but => {
      this.contextButtons.push(but)
    })

    this.$services.$on('app:context:buttons:clear', () => {
      this.contextButtons = []
    })

    this.$services.$on('app:context:buttons:remove', but => {
      for (let i = 0; i < this.contextButtons.length; i++) {
        if (this.contextButtons[i].name === but.name) {
          this.contextButtons.splice(i, 1)
        }
      }
    })

    // manage clipboard
    this.$services.$on('app:clipboard', data => {
      localStorage.clipboard = JSON.stringify(data)
    })

    // delete notification: internal
    this.$services.$on('app:user:notification:delete', () => {
      this._myNotifications()
    })

    // update notification: internal
    this.$services.$on('app:user:notification:update', () => {
      this._myNotifications()
    })

    // logout detected
    this.$services.$on('app:logout', () => {
      if (this.user) {
        this.$services.waitForService('data').then(data => {
          data.connections.signOutLog().then(() => {
            this.$services.$emit('app:loggedout')
          }).catch(err => console.log(err))
        })

        this.$store.commit('user', null)
      }

      localStorage.token = null
      this.$router.push('/login')
      console.log('back to login')
    })

    // login detected
    this.$services.$on('app:login', this.onLogin.bind(this))

    // confirmation request
    this.$services.$on('app:confirmation:request', prompt => {
      this.confirmationPrompt = prompt
      this.confirmDialog = true
    })

    // user notification based on notification collection
    this.$services.$on('service:data:event:notification:add', msg => {
      if (msg) {
        this.notification = msg.name
      }

      this._myNotifications()
    })

    // get app version
    this.$utils.info().then(result => {
      this.packageInfo = result
      // console.log(JSON.stringify(this.packageInfo))
    }).catch(err => console.log(err))

    // theming
    this.$services.$on('app:toolbar:color', color => {
      this.$store.commit('toolbarColor', color)
    })

    this.$services.$on('app:toolbar:flat', flat => {
      this.$store.commit('flatToolbar', flat)
    })

    // authenticate
    if (this.$store.state.user) {
      this.$auth.authenticate({
        username: this.$store.state.user.username,
        token: localStorage.token
      }).then(() => {
        console.log('authenticated')
        this.$auth._logged = this.$store.state.user.username
        this.$services.$emit('app:login')
      }).catch(err => {
        console.log('authentication failed', err)
        this.$services.$emit('app:logout')
      })
    } else {
      console.log('user missing')
      this.$router.push('/login')
    }

    // -------------------------------------------------------------------------
    // Dump db for offline remote populate
    if (this.$config.db.dumpToFile && this.$config.db.dumpToFile.length > 0) {
      for (let collection of this.$config.db.dumpToFile) {
        this.$syncdb[collection]._dumpToFile()
      }
    }
  },
  computed: {
    logged() {
      return this.$store.state.user
    },
    user() {
      return this.$store.state.user || {}
    }
  }
}
</script>

<style>
.app {
  width: 100%;
  height: calc(100% - 0px);
  overflow: hidden;
}

.app-logo {
  background: url("~/assets/ignitialio-64.png");
  background-size: contain;
  width: 32px;
  height: 32px;
  border: 2px solid white!important;
  border-radius: 50%;
}

.app-logo.connected {
  border: 2px solid forestgreen!important;
  border-radius: 50%;
}

.app-avatar {
  border: 2px solid white!important;
  border-radius: 50%;
}

.app-view {
  width: 100%;
  height: calc(100% - 48px);
  overflow: hidden;
}

.app-router {
  width: 100%;
  height: calc(100% - 0px);
  overflow: hidden;
}

.app-toolbar {
  z-index: 1;
}

.app-menu-item-selected {
  color: dodgerblue;
}

.app-menu-item-icon {
  display: flex !important;
  flex-flow: row !important;
  justify-content: flex-start !important;
}

.app-context-buttons {
  display: flex;
  height: 48px;
  margin-right: 8px;
  align-items: center;
}

.app-search {
  position: absolute;
  top: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.app-search > div {
  max-width: 50%;
}

.app-search .v-text-field__details {
  display: none;
}

.app-search-handle {
  height: 48px;
  width: 36px;
  margin: 0 4px;
  border-radius: 2px;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  cursor: pointer;
}

.disconnected {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.app-sidebar-header {
  width: 100%;
  height: 168px;
  background-color: deepskyblue !important;
  background-image: url("~/assets/ignitialio-256.png");
  background-size: cover;
}

.app-userinfo {
  width: 318px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.8));
  font-weight: bold !important;
}

.app-user-contact {
  font-weight: bold;
}

.app-avatar-small {
  position: relative;
  margin: 0 12px 0 4px;
}

.app-notification-date {
  font-style: italic;
  color: slategrey;
}

.app-section {
  margin-left: 8px;
  font-size: 1.5em;
  color: gainsboro;
}

@media screen and (max-width: 800px) {
  .app-search > div {
    max-width: calc(100% - 36px - 16px);
  }
}
</style>
