body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gainsboro;
    margin: 4px 0;
    padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.no-text-selection {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ig-focused {
  border: 1px solid rgba(30, 144, 255, 0.8);
}

.ig-error {
  color: tomato;
}

.ig-scrollable {
  height: calc(100% - 0px);
  overflow-y: auto;
}

.ig-title {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .005em;
  line-height: 26px;
}

.ig-subhead {
  display: flex;
  align-items: center;
}

.ig-fullwh {
  width: 100%;
  height: 100%;
}

.ig-clickable {
  cursor: pointer;
}

.ig-centered {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.ig-ellipsis {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ig-centered-bkg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ig-h400 {
  height: 400px!important;
}

.ig-rotated-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ig-hover-highlight:hover {
  color: dodgerblue!important;
  cursor: pointer;
}

.ig-hover-warn:hover {
  color: tomato!important;
  cursor: pointer;
}

.ig-verticalslider {
  -webkit-appearance: slider-vertical;
}

.ig-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.ig-action-icon {
  margin: 0 2px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.ig-menu-icon {
  width: 24px;
  height: 24px;
}

.ig-action-icon:hover {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
}

.ig-action-icon-selected {
  background-color: navajowhite;
}

.ig-transparent {
  background-color: rgba(255, 255, 255, 0);
}

.ig-ellipsis {
  width: 100%;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.ig-ready {
  opacity: 1!important;
}

.ig-button-icon {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.ig-button-icon-small {
  width: 24px;
  height: 24px;
}

.ig-button-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.ig-button-icon:hover {
  color: dodgerblue!important;
}

.ig-avatar-tile {
  height: 48px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.v-toolbar__content {
  padding: 0 8px!important;
}

.v-list__tile__avatar {
  margin-left: 16px;
}

.ig-vertical-separator {
  margin: 0 4px;
  width: 1px;
  height: 100%;
  border-left: 1px solid gainsboro;
}

.ig-bottom-right-16 {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.ig-bottom-right-8 {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.ig-bottom-right-4 {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.ig-bottom-left-16 {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.ig-bottom-left-8 {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.ig-bottom-left-4 {
  position: absolute;
  bottom: 4px;
  left: 4px;
}

.ig-progress-bar {
  margin: 0!important;
}

.ig-inactive-color {
  filter: grayscale(100%);
}

.ig-chip {
  margin: 2px;
  padding: 2px 8px 8px 8px;
  max-height: 24px;
  max-width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: navajowhite;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
}

.ig-chip.selected {
  background-color: dodgerblue;
  color: white;
}

.ig-chip:hover {
  border: 1px solid salmon;
}

.ig-tileicon-48 {
  width: 48px;
  height: 48px;
  display: inline-block;
}

.ig-h400 {
  height: 400px!important;
}

.ig-blink {
  animation: blinker 1.5s linear infinite;
}

.ig-blink-fast {
  animation: blinker 0.5s linear infinite;
}

.ig-blink-fast-highlighted {
  border: 1px solid tomato!important;
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

@media screen and (min-width: 800px) {
  .ig-mobileonly {
    display: none;
  }
}
